@media screen and (min-width: 959px) {
    .about {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 560px;
        margin-bottom: 40px;
        opacity: 0;
    }
    .about .icon {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #f0f0f0;
        margin-bottom: 24px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about img {
        position: relative;
        width: 120px;
        height: auto;
    }

    .about h3{
        font-size: 32px;
        color: #676767;
        margin-bottom: 40px;
    }

    .about article {
        margin-bottom: 40px;
    }

    .about h4 {
        font-size: 24px;
        border-bottom: #676767 1px solid;
        margin-bottom: 16px;
        color: #676767;
    }
    .about p ,
    .about li{
        font-size: 18px;
        color: #676767;
    }

    .about.mounted {
        animation: fadein 0.5s ease 0s forwards;
    }

    .about.unmounted {
        animation: fadeout 0.5s ease 0s forwards;
    }


    @keyframes fadein {
        0%{
            opacity: 0;
            transform: translateY(24px)
        }
        100% { 
            opacity:1;
            transform: translateY(0px)
        }
    }

    @keyframes fadeout {
        0%{
            opacity:1;
            transform: translateY(0px)
        }
        100% { 
            opacity: 0;
            transform: translateY(24px)
        }
    }
}

@media screen and (max-width: 959px) {
    .about {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 560px;
        margin-bottom: 40px;
        opacity: 0;
    }
    .about .icon {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #f0f0f0;
        margin-bottom: 24px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about img {
        position: relative;
        width: 120px;
        height: auto;
    }

    .about h3{
        font-size: 32px;
        color: #676767;
        margin-bottom: 40px;
    }

    .about article {
        margin-bottom: 40px;
    }

    .about h4 {
        font-size: 24px;
        border-bottom: #676767 1px solid;
        margin-bottom: 16px;
        color: #676767;
    }
    .about p ,
    .about li{
        font-size: 18px;
        color: #676767;
    }

    .about.mounted {
        animation: fadein 0.5s ease 0s forwards;
    }

    .about.unmounted {
        animation: fadeout 0.5s ease 0s forwards;
    }


    @keyframes fadein {
        0%{
            opacity: 0;
            transform: translateY(24px)
        }
        100% { 
            opacity:1;
            transform: translateY(0px)
        }
    }

    @keyframes fadeout {
        0%{
            opacity:1;
            transform: translateY(0px)
        }
        100% { 
            opacity: 0;
            transform: translateY(24px)
        }
    }
}

@media screen and (max-width: 480px) {
    .about {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 560px;
        margin-bottom: 40px;
        opacity: 0;
    }
    .about .icon {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #f0f0f0;
        margin-bottom: 24px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about img {
        position: relative;
        width: 120px;
        height: auto;
    }

    .about h3{
        font-size: 32px;
        color: #676767;
        margin-bottom: 40px;
    }

    .about article {
        margin-bottom: 40px;
    }

    .about h4 {
        font-size: 24px;
        border-bottom: #676767 1px solid;
        margin-bottom: 16px;
        color: #676767;
    }
    .about p ,
    .about li{
        font-size: 16px;
        color: #676767;
    }
    .about p {
        width: 320px;
    }

    .about.mounted {
        animation: fadein 0.5s ease 0s forwards;
    }

    .about.unmounted {
        animation: fadeout 0.5s ease 0s forwards;
    }


    @keyframes fadein {
        0%{
            opacity: 0;
            transform: translateY(24px)
        }
        100% { 
            opacity:1;
            transform: translateY(0px)
        }
    }

    @keyframes fadeout {
        0%{
            opacity:1;
            transform: translateY(0px)
        }
        100% { 
            opacity: 0;
            transform: translateY(24px)
        }
    }
}